In [120]:
import pandas as pd

groups = pd.read_csv("./Groups.txt", usecols=["ecode", "pcode", "pabbrev"], index_col="pcode")
groups = groups[groups.ecode == 5]

candidates = pd.read_csv("./Candidates.txt", usecols=["ecode", "pcode", "cname"])
candidates = candidates[candidates.ecode == 5]
candidates["name_last"] = candidates.cname.apply(lambda x: x.split(", ")[0].strip())
candidates["name_first"] = candidates.cname.apply(lambda x: x.split(", ")[1].strip())
candidates["party"] = candidates.pcode.apply(lambda x: groups.at[x, "pabbrev"])
candidates = candidates[["name_last", "name_first", "party"]]
candidates.set_index("name_last", inplace=True)

data = pd.read_csv("./election_data.csv").T
votes = []
for name in data.index:
    votes.append(list(data.loc[name]))
data.index = list(candidates.index) + ["exhausted"]
data["name_first"] = list(candidates.name_first) + [""]
data["votes"] = votes
data["party"] = list(candidates.party) + [""]
data = data[["name_first", "party", "votes"]]
data.to_csv("./electionData.csv", index_label="name_last")
data

,name_first,party,votes
STRANG,Bernie,DLP,"[1039.0, 1041.0, 1044.0, 1049.0, 1050.0, 1057...."
HELMORE,Olivia,DLP,"[1478.0, 1482.0, 1486.0, 1487.0, 1489.0, 1490...."
NADIMPALLI,Krishna,LIB,"[1899.0, 1901.0, 1901.0, 1903.0, 1909.0, 1911...."
MILLIGAN,James,LIB,"[3834.0, 3840.0, 3842.0, 3844.0, 3852.0, 3858...."
VADAKKEDATHU,Jacob,LIB,"[2680.0, 2687.0, 2694.0, 2695.0, 2706.0, 2709...."
CASTLEY,Leanne,LIB,"[4601.0, 4602.0, 4614.0, 4617.0, 4621.0, 4626...."
COE,Alistair,LIB,"[8685.0, 8691.0, 8700.0, 8705.0, 8705.0, 8708...."
BRADDOCK,Andrew,GREEN,"[3431.0, 3434.0, 3441.0, 3467.0, 3479.0, 3507...."
HAQUE,Mainul,GREEN,"[2009.0, 2030.0, 2032.0, 2034.0, 2040.0, 2045...."
KEARSLEY,John,SUST,"[331.0, 331.0, 333.0, 343.0, 358.0, nan, nan, ..."
YOUNG,Scott,SUST,"[363.0, 367.0, 380.0, 386.0, 397.0, 634.0, 654..."
WILLIAMS,Bethany,PROG,"[1128.0, 1130.0, 1144.0, 1152.0, 1319.0, 1340...."
STELZIG,Mike,PROG,"[318.0, 319.0, 323.0, 325.0, nan, nan, nan, na..."
POLLARD,Stephanie,POL,"[319.0, 321.0, 334.0, 343.0, 368.0, 377.0, nan..."
POLLARD,David,POL,"[1410.0, 1415.0, 1441.0, 1443.0, 1468.0, 1476...."
BRENNAN,Bernie,AJP,"[310.0, 312.0, 316.0, nan, nan, nan, nan, nan,..."
HORNE,Francine,AJP,"[391.0, 393.0, 400.0, 601.0, 605.0, 611.0, 617..."
GUPTA,Deepak-Raj,ALP,"[3763.0, 3768.0, 3773.0, 3782.0, 3784.0, 3788...."
FISCHER,Tom,ALP,"[1796.0, 1798.0, 1803.0, 1805.0, 1813.0, 1814...."
ORR,Suzanne,ALP,"[4344.0, 4349.0, 4360.0, 4363.0, 4367.0, 4370...."
PHILLIPS,Georgia,ALP,"[3273.0, 3278.0, 3286.0, 3291.0, 3296.0, 3298...."
PETTERSSON,Michael,ALP,"[5086.0, 5091.0, 5101.0, 5109.0, 5113.0, 5118...."
CROSS,Helen,UNG,"[199.0, 212.0, nan, nan, nan, nan, nan, nan, n..."
LI,Fuxin,UNG,"[656.0, 664.0, 707.0, 709.0, 711.0, 712.0, 719..."
HUSSAIN,Mohammad Munir,UNG,"[116.0, nan, nan, nan, nan, nan, nan, nan, nan..."
exhausted,,,"[0.0, 3.0, 4.0, 6.0, 9.0, 10.0, 12.0, 35.0, 67..."